<header>
    <div class="container">
        <p>ESCRITOS ENCONTRADOS <br> por Pedro Rodríguez</p>
        <audio id="cancion" src="music/1.mp3">
            <source src="music/2.mp3" type="2/mp3">
            <source src="music/2.ogg" type="2/ogg">
        </audio>
        <div id="controls">
            <button onclick="IniciarPausar()">
                <img src="../imagenes/music1.png" alt="imagen music on/off">
            </button>
        </div>
    </div>
    <div class="menu-bar">
        <a href="#" class="bt-menu"><span class="icon-menu"></span>Menu</a>
    </div>
    <nav class="nav">
        <ul>
            <li><a href="/"><span class="icon-home"></span>Home</a></li>
            <li><a href="writings"><span class="icon-pencil"></span>Writings</a></li>
            <li><a href="more"><span class="icon-play2"></span>More</a></li>
            <!--<li><a href="about"><span class="icon-profile"></span>About</a></li>-->
            <li><a href="contact"><span class="icon-envelop"></span>Contact</a></li>
        </ul>
    </nav>
</header>