<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;700&display=swap" rel="stylesheet">
    <title>Escritos Encontrados</title>
</head>

<body>

    <header>
        <div class="container">
            <p>ESCRITOS ENCONTRADOS <br> por Pedro Rodríguez</p>
            <audio id="cancion" src="music/1.mp3">
                <source src="music/2.mp3" type="2/mp3">
                <source src="music/2.ogg" type="2/ogg">
            </audio>
            <div id="controls">
                <button onclick="IniciarPausar()">
                    <img src="../imagenes/music1.png" alt="imagen music on/off">
                </button>
            </div>
        </div>
        <div class="menu-bar">
            <a href="#" class="bt-menu"><span class="icon-menu"></span>Menu</a>
        </div>
        <nav class="nav">
            <ul>
                <li><a href="/" id="index"><span class="icon-home"></span>Home</a></li>
                <li><a href="writings" id="writings"><span class="icon-pencil"></span>Escritos</a></li>
                <li><a href="more" id="more"><span class="icon-play2"></span>Más</a></li>
                <li><a href="contact" id="contact"><span class="icon-envelop"></span>Contacto</a></li>
            </ul>
        </nav>
    </header>


    <div class="title">
        <article class="main-article">
            <h2>CONTACTO</h2>
        </article>
    </div>
    <section>
        <article>
            <p class="p-contact">En este espacio además de comentarios, son bienvenidos poemas, cuentos o cualquier otro escrito. </p>
        </article>
        <hr>
        <article>
            <form action="/send-email" method="POST" enctype="text/plain" id="form">
                <label for="nombre">Nombre:</label>
                <input type="text" name="name" id="nombre" autofocus>

                <label for="email">Email:</label>
                <input type="email" name="email" id="email">

                <label for="comentario">Comentarios:</label>
                <textarea name="message" id="comentario" cols="30" rows="10"></textarea>

                <label for="archivo">Queres adjuntar un archivo?</label>
                <input name="archivo" type="file" id="archivo">

                <p><button type="submit" id="button">Enviar</button></p>


            </form>

        </article>
    </section>

    <footer>
        <p>Design by <a href="https://www.instagram.com/soypedromartin/" target="_blank">@soypedromartin</a>
            Todos los derechos reservados 2022</p>
    </footer>
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="/javascript/js.js"></script>
    <script src="/javascript/menu.js"></script>

</body>

</html>