<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;700&display=swap" rel="stylesheet">
    <title>Escritos Encontrados</title>
</head>

<body>
    <header>
        <div class="container">
            <p>ESCRITOS ENCONTRADOS <br> por Pedro Rodríguez</p>
            <audio id="cancion" src="music/1.mp3">
                <source src="music/2.mp3" type="2/mp3">
                <source src="music/2.ogg" type="2/ogg">
            </audio>
            <div id="controls">
                <button onclick="IniciarPausar()">
                    <img src="../imagenes/music1.png" alt="imagen music on/off">
                </button>
            </div>
        </div>
        <div class="menu-bar">
            <a href="#" class="bt-menu"><span class="icon-menu"></span>Menu</a>
        </div>
        <nav class="nav">
            <ul>
                <li><a href="/" id="index"><span class="icon-home"></span>Home</a></li>
                <li><a href="writings" id="writings"><span class="icon-pencil"></span>Escritos</a></li>
                <li><a href="more" id="more"><span class="icon-play2"></span>Más</a></li>
            </ul>
        </nav>
    </header>


    <div class="title">
        <article class="main-article">
            <h2>ESCRITOS</h2>
        </article>
    </div>
    <section>
        <article>
            <h2>Perdido</h2>
            <p>Quisiera hablarte y que me escuches pero mi voz pareciera estar presa de mis miedos.</p>
                <p>Vení a buscarme y por favor soltá mis manos y abrilas.</p>
                <p>Calmá mis piernas inquietas.</p>
                <p>Abrazá a mi alma qué no puede llorar.</p>
                <p>Encontrá mi lado bueno.</p>
                <p>Iluminame en esta madrugada.</p>
                <p>Pero a veces pienso qué no, que es mejor que me sueltes que yo ya no puedo.</p>
                <p>Que no me busques que mis manos ya no pueden abrirse.</p>
                <p>Qué no calmes a mis piernas ni abraces a mi alma.</p>
                <p>Que es mejor así.</p>
                <p>Volemos hacia aquella noche y rebobinemos la música así se pausa el corazón.</p>
                <p>¿Cómo se apaga aquella noche?</p>
                <p>¿Cómo silencio esas canciones?</p>
                <p>¿Adónde ahogo los miedos?</p>
                <p>¿Adónde te vuelvo a encontrar?</p>
        </article>
        <article>
            <hr>
            <h2>Roce</h2>
            <p>En un mar repleto de inocencia te vi llegar.</p>
            <p>Traías rosas de pétalos blancos suaves como tu mirar.</p>
            <p>Olas serenas, de vientre tranquilo llegaron sin avisar.</p>
            <p>Quede mareado, no fue la sal ni tu tiempo, fue el roce de una gota nada más.</p>
        </article>
        <article>
            <hr>
            <h2>Voy a cantar una vez más</h2>
            <p>Voy a cantar una vez más para saldar cuentas conmigo mismo.</p>
            <p>Voy a pronunciar la misma frase para que el agua no cambie su curso.</p>
            <p>Solo por un segundo voy a tratar de estar mejor de lo que puedo,
                para seguir volando sobre edificios bajos, porque a los altos no llego.</p>
            <p>Tengo las alas en fuego y en crisis por un lugar que todavía no encontré.</p>
            <p>Si solo dejara de existir la duda de que existo verdaderamente,
                ya no rompería papeles sin usar,
                y mi garganta sin humo dejaría de cantar sin llegar al cielo.</p>
            <p>Mis ojos tienen poesía que no encontré todavía en el espejo,
                y mis lágrimas no me dicen nada y discriminan a mi esperanza.</p>
            <p>Por lo menos, mientras sueño me siento,
                para no caer del precipicio al que se llega volando y no se volar.</p>
            <p>Todavía no llegué, pero mis sueños siguen con ansias de romper metáforas.</p>
            <p>Tiro cartas que no llegan a mis manos.</p>
            <p>No estoy para nadie.</p>
            <p>Mejor, que nadie sepa donde estoy, y donde es el lugar donde rompo con vergüenza
                papeles escritos en blanco para seguir soñando y respirando.</p>
        </article>
        <article>
            <hr>
            <h2>Bailar</h2>
            <p>Yo quiero verte bailar de nuevo.</p>
            <p>Ver tus caderas golpear al viento.</p>
            <p>Juntar cada gota que cae de tu cuerpo
                y entregárselas al sol del amanecer así se embriaga y se va.</p>
        </article>
        <article>
            <hr>
            <h2>El Fuego</h2>

            <p>El fuego en la casa ya estaba quemando los muebles, aquellos que guardé de mis abuelos.</p>
            <p>Lo único que pude hacer fue agarrar un vaso de agua qué tenía conmigo y tirarlo en el sillón, mientras
                parado en el medio del living observaba cómo las llamas iban destrozando las cortinas.
                La alfombra se iba prendiendo fuego de una forma circular como para darme tiempo de intentar salir.</p>
            <p>“Ese cuadro no, ese no por favor”, dije en voz alta como si el desastre fuera hecho por alguien.</p>
            <p>Pero quieto, contemplé como el fuego de una silla que tenía contra la pared creció junto al del
                empapelado
                verde claro, y el cuadro lentamente se empezó quemar frente a mí.</p>
            <p>El marco grueso parecía darle tiempo al recuerdo que se iba muriendo.</p>
            <p> De repente, como si estuviera recordando mi vida sentí un escalofrío.</p>
            <p> Una lágrima tuvo la crueldad de nacer y hacerme recordarte.</p>
            <p>Como si mirar tu retrato no fuese ya demasiado para mí.</p>
            <p>Como si el color de tus ojos no estuviera a mí alrededor.</p>
            <p>Sentí una lágrima caer por mi pómulo lentamente para después bordear mis labios.</p>
            <p>Parecía conocer mi rostro, como si la soledad ya hubiese trazando su camino.</p>
            <p>A punto de qué caiga acuné mi brazo y la lágrima cayó en la palma de mi mano.</p>
            <p>Ahí estaba ella, vestida de bufón, circular y hermosa.</p>
            <p>Otras lágrimas siguieron su curso y se le unieron a ésta.</p>
            <p>De pronto, un charco en mi mano cobró la forma más hermosa posible.</p>
            <p>Tu rostro apareció tibio y maternal, y tus ojos me miraron con pena y amor.</p>
            <p>Como diciéndo que no me entregue al dolor, tus ojos me hablaron y abrazaron a mi corazón dándole
                esperanza.</p>
            <p>Pero yo nunca pude aprender a vivir solo por los dos.</p>
            <p>Te miré y supe que lo entendiste, mientras sentía que hacías fuerza para reconfortarme.</p>
            <p>Y ahí fue que te dije hasta luego mi amor y fui a buscarte sabiendo desde un primer instante adonde el
                fuego, bienvenido amigo, me llevaría.</p>

        </article>
        <article>
            <hr>
            <h2>Río</h2>

            <p>Deja correr el agua que es la única que puede limpiar el cuarto después de haber estado dañando

                al cuerpo

                de esa manera tan especial.</p>

            <p>Que dulce reunión tuvimos. </p>

            <p>Ahógame ahora que necesito respirar pureza.</p>

            <p>Uh! Se me cayó la copa con tu miel.</p>

            <p>Cuidado con los perros, quieren curar su rabia con tu sabor.</p>

            <p>Abrí la ventana y que entre el aire.</p>

            <p>Decile que se lleve todo lo que perdí.</p>

            <p>Y a vos te digo no vuelvas nunca más.</p>

        </article>




        <article>

            <hr>

            <h2>Soplo</h2>

            <p>Basta un soplo de viento para alcanzar altura y volar.</p>

            <p>Basta abrir tu mano y ver ahí a la libertad</p>

        </article>




        <article>

            <hr>

            <h2>El cielo y vos</h2>

            <p>Ya construí en la playa un lugar para dormir, bajo un techo de estrellas infinito.</p>

            <p>Ya pasó ese tiempo en el que la duda estaba ahí, al acecho.</p>

            <p>Ya se fue la certeza de lo seguro.</p>

            <p>El viento se llevó toda la quietud.</p>

            <p>Ya me despojé de mis costumbres. </p>

            <p>Ya firmé la libertad.</p>

            <p>Ayer llegó la tormenta que limpió mi alma.</p>

            <p>Me arrastró hacia lo profundo y me mató.</p>

            <p>Ahora siento paz.</p>

            <p>Costó romper los muros que construí en aquellos años.</p>

            <p>Ya solté todo.</p>

            <p>Ahora ando ligero como el viento.</p>

            <p>Ya no soy un recuerdo.</p>

            <p>Ya no soy.</p>

            <p>Ya tengo todo.</p>

            <p>Te espero viviendo.</p>

            <p>Faltás vos, desnuda para mí, en la inmensidad de la nada. </p>

            <p>Falto yo, como quieras tenerme.</p>

            <p>Ya construí en la playa un lugar para dormir, bajo un cielo de estrellas infinito.</p>

        </article>




        <article>

            <hr>

            <h2>El Camino</h2>

            <p>Imagina un sendero recto e infinito.</p>

            <p>Imagínate caminando sobre un suelo de rosas.</p>

            <p>Imagina la tormenta más fuerte.</p>

            <p>Imagina una eterna oscuridad.</p>

            <p>Imagina un eterno silencio.</p>

            <p>Imagínate la utopía.</p>

            <p>Imagina que a los costados está la muerte viéndote envejecer.</p>

            <p>Imagina que disfruta verte caminar.</p>

            <p>Imagina que está esperándote ansiosa.</p>

            <p>Imagina que ya no podés pensar.</p>

            <p>Imagina que a veces desconfías de vos mismo.</p>

            <p>Imagina que a veces olvidas el motivo.</p>

            <p>Imagina que en la oscuridad una ola gigante te voltea.</p>

            <p>Imagina levantándote.</p>

            <p>Imagínate caminando mojado y con frío.</p>

            <p>Imagínate una voz que dice que pares y que te deja mirarte en el espejo del olvido.</p>

            <p>Imagínate negándola con la cabeza.</p>

            <p>Imagínate más erguido.</p>

            <p>Imagínate caminando y que te chocas con algo.</p>

            <p>Imagina que lo escalas a ciegas.</p>

            <p>Imagina que seguís caminando, solo para volver a verla a ella.</p>

            <p>Debo estar loco por seguir caminando.</p>

            <p>Debo olvidarme a veces el motivo.</p>

            <p>Debo guiñarle el ojo cada tanto a la muerte.</p>

            <p>Así después recuerdo el sentido.</p>

            <p>Que vengan mil olas, que vengan mil fríos.</p>

            <p>Que vengan mil dudas, que millones son mis motivos.</p>

            <p>Que venga el silencio cargado de vacío.</p>

            <p>Que yo le doy un recuerdo para que se lo lleve consigo.</p>

            <p>Que venga el sendero para darme camino.</p>

            <p>Que venga desleal como lo fue hasta ahora conmigo.</p>

            <p>Que venga sabiendo que cuando yo no camino corro para saber que sigo estando vivo.</p>
        </article>

    </section>
    <br>
    <footer>
        <p class="spotify">Playlist de Escritos Encontrados  <a href="https://open.spotify.com/playlist/6NieumBVpZjRZZHpXwRx4n?si=8b739cf626ab4989"
            target="_blank"><span class="icon-play2"></span></a></p>

        <p class="contacto">Contacto: <a href="https://www.instagram.com/soypedromartin/" target="_blank">@soypedromartin</a>  <a href="https://github.com/pedromartinrodriguez" target="_blank">github.com/pedromartinrodriguez</a></p>
           
        <p>Sitio desarrollado por: <a href="https://www.instagram.com/soypedromartin/" target="_blank">@soypedromartin</a>
            Todos los derechos reservados 2022</p>
    </footer>
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="/javascript/js.js"></script>
    <script src="/javascript/menu.js"></script>
</body>